numpy==1.26.3
pandas==2.2.3
pandas_ta==0.3.14b0
alpaca-py==0.40.1
alpaca-trade-api==3.2.0
annotated-types==0.7.0
ipykernel==6.29.5
matplotlib==3.10.3
matplotlib-inline==0.1.7
plotly==6.1.0
python-dotenv==1.1.0
requests==2.32.3
scipy==1.15.3
setuptools==80.7.1
